
 <!--show the article
  The article details is shown for any article article and not only the selectedArticle
  *ngIf directive the hero details.
-->

<div *ngIf="article">
  <h2>{{article.name | uppercase}} Details</h2>
  <div><span>id: </span>{{article.id}}</div>
  <div>
    <label for="article-name">Article name: </label>
    <input id="article-name" [(ngModel)]="article.name" placeholder="Article name">
  </div>
  <div> Price: <span>{{article.price}}</span></div>
  <button type="button" (click)="goBack()">go back</button>
</div>
